* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.marquee1 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(240, 66, 95);
}

.m-text {
    color: white;
}

nav {
    position: sticky !important;
    top: 0px;
    z-index: 999999;
    background-color: black !important;
}

.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: rgb(240, 66, 95);
}

.n-img img {
    width: 100px;
}

.offcanvas {
    background-color: black;
}

.offcanvas-header {
    background-color: rgb(240, 66, 95);
}

.nav-link h3 {
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: rgb(240, 66, 95);
    transition: 1s;
}

.nav-link h3:hover {
    background: -webkit-linear-gradient(left, aqua, rgb(252, 60, 92));
}

.nav-link::after {
    color: rgb(240, 66, 95);
}

.dropdown-menu {
    background-color: rgb(240, 66, 95);
    backdrop-filter: blur(10px);
}
.container{
    width: 100%;
}
.container .mainpages{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .mainpages h2{
font-size: 40px;
font-weight: 800;
color: aqua;
}
.container .products{
    width: 80%;
}
.container a{
    color: rgb(235, 41, 74);
    transition: 1s;
}
.container a:hover{
    text-decoration: 5px rgba(0, 255, 255, 0.625) underline ;

}
.pages{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    justify-content: space-evenly;
}
.product{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    justify-content: space-evenly;
}

/* footer */
footer{
    width: 100%;
    
}
.text-center{
    background-color: rgba(242, 59, 90, 0.395) !important;
    backdrop-filter: blur(20px);
}
.mb-4{
    height: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mb-4 a{
    text-align: center;
    display: flex;
    justify-content: center;
}
